<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/eventakte.css' %}" />
</head>
<body>
    <div class="b-page__topdecor"></div>
    <div class="container">
        <div class="row b-page__header">
            <div class="col-xs-6 b-page__logo">
                <h1>Eventakte</h1>
            </div>
            <div class="col-xs-6 b-page__contact">

            </div>
        </div>
        <div class="row b-page__menu b-page__header">
            <div class="col-xs-4">
            Города:
                <!-- вывести построчно список городов в из массива cities находящегося в контексте -->
                <!-- второй город выделить. например красным шрифтом -->
            </div>
            <div class="col-xs-4">
                Места
            </div>
            <div class="col-xs-4">
                Добавить событие
            </div>
        </div>

    </div>

    {% include 'city/modal.html' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-right">
                &copy;{{ now|date:"Y" }}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>